<app-spinner [isLoading]="isLoading"></app-spinner>

<div class="container-fluid" *ngIf="post && !isLoading">
  <div class="row justify-content-center">
    <div class="col-12 col-lg-3 mb-4">
      <div class="side-box mb-4">
        <h5 class="title">Tags</h5>
        <div class="tag-chips d-flex flex-wrap">
          <mat-chip *ngFor="let tag of post.formatted_tags" class="me-2 mb-2">{{ tag }}</mat-chip>
        </div>
      </div>

      <div class="side-box mb-4">
        <h5 class="title">Last updated on</h5>
        <p class="updated-date">{{ post.updated_at | date: 'medium' }}</p>
      </div>

      <div class="side-box">
        <h5 class="title">Recent Posts</h5>
        <ul class="recent-posts list-unstyled ps-2">
          <li><a href="">First Post</a></li>
          <li><a href="">First Post</a></li>
          <li><a href="">First Post</a></li>
          <li><a href="">First Post</a></li>
        </ul>
      </div>
    </div>

    <div class="col-12 col-lg-9">
      <div class="post-title mt-5">{{ post.title }}</div>
      <div class="post-submitted-by mt-2">
        Submitted by {{ post.author.username }} at {{ post.created_at | date: 'medium' }}
      </div>

      <div class="post-content mt-4">
        <img src="../../../assets/posts-home-bg.jpg" alt="Post Image" class="img-fluid rounded" />
        <div class="NgxEditor__Wrapper mt-4">
          <ngx-editor [editor]="editor" [disabled]="true" [(ngModel)]="post.content"></ngx-editor>
        </div>
      </div>

      <div class="comments-container mt-5">
        <app-comment [postId]="post.id"></app-comment>
      </div>
    </div>
  </div>
</div>
