.parent {
    margin: auto;
}

.post-container {
    margin-top: 6rem;
}

.post-title{
    font-size: 2rem;
    min-height: 5rem;
}

.post-submitted-by, .updated-date {
    background-color: rgb(210, 206, 206);
    border-radius: 0.3rem;
}

.side-content-container {
    margin-top: 10rem;
}
