/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-snack-bar-container {
  &.snackbar-success {
    --mdc-snackbar-container-color: #22c55e;
  }
  &.snackbar-error {
    --mdc-snackbar-container-color: #ef4444;
  }
  &.snackbar-warning {
    --mdc-snackbar-container-color: #f59e0b;
  }

  color: #fff;
  font-weight: 500;
  border-radius: 8px;
  box-shadow: 0 4px 14px rgba(0, 0, 0, 0.15);

  .mdc-button__label {
    color: #fff;
  }
}

// .mdc-text-field--filled:not(.mdc-text-field--disabled)  {
//   background-color: rgb(255,255,255) !important;
// }

.mat-mdc-form-field-focus-overlay {
  background: white !important;
}

.mat-mdc-text-field-wrapper {
  background: white !important;
}

.mdc-tab--active .mdc-tab__text-label {
  color: black !important;
  font-family: monospace
}

.login-dialog-backdrop {
  background: transparent !important;
}

.login-dialog-panel .mat-mdc-dialog-surface {
  background: transparent !important;
  box-shadow: none !important;
}

.login-dialog-panel .mat-mdc-dialog-container {
  padding: 0 !important;
}

.leave-page-dialog-backdrop {
  background: transparent !important;
}

.leave-page-dialog-panel .mat-mdc-dialog-surface {
  background: white !important;
  padding: 0 1rem !important;
  border-radius: 0 0.7rem 0 0.7rem !important;

}

.leave-page-dialog-panel .mat-mdc-dialog-container {
  padding: 0rem !important;
}
