<div class="navbar-container">
    <mat-toolbar>
        <span class="example-spacer"></span>
        <a class="website_icon" routerLink="">
            <h1>Blog</h1>
        </a>
        <span class="example-spacer"></span>

        <div class="links-container">
            <a routerLink="/store"> <h1>Start</h1></a>
            <a routerLink="/community"><h1>Community</h1></a>
            <a routerLink="/about"><h1>Explore</h1></a>
        </div>

        <span class="example-spacer"></span>

        @if (isLoggedIn) {
            <button (click)="openDashboard()" mat-icon-button>
                <mat-icon style="transform: scale(1.3)">account_circle</mat-icon>
            </button>
        }

        @if (!isLoggedIn) {
            <a routerLink="/login">
                <button mat-icon-button>
                    <mat-icon>login</mat-icon>
                </button>
            </a>
        }
        @if (isLoggedIn) {
            <button (click)="logout()" mat-icon-button>
                <mat-icon>logout</mat-icon>
            </button>
        }
    </mat-toolbar>
</div>
